<script>
function openExample(doc) {
  var a = document.getElementById("example-link");
  a.setAttribute('href', doc);
  a.innerHTML = "Direct link to this example";
	document.getElementById("example-display-window").src = doc;
}

function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
}

function toggleCollapse(obj) {
    var content = obj.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
    var icon = content.getElementsByTagName("I");
    if(icon.className === "fas fa-angle-right") {
    	icon.className = "fas fa-angle-down";
    } else {
    	icon.className = "fas fa-angle-right";
    }
}

function expandSidenav(obj) {
  var pkgSections = document.getElementById('sidenav-packages');
  pkgSections.classList.toggle('sidenav-active');
}
</script>