  	<div class="footer">
			<div class="footer-info">
				<p>
				  The cytoverse is developed by members of Greg Finak's Lab
				  at Fred Hutchinson Cancer Research Center.
				</p>
			</div>
  		<div class="footer-logos">
  		  <div id="fh_logo">
  		    <a href="http://www.rglab.org/">
				    <img src="{{ .Site.Params.icons.fh.url | absURL }}"
               alt="{{ .Site.Params.icons.fh.alt }}">
				  </a>
  		  </div>
        <div id=github_logo>
          <a href="https://github.com/RGLab/">
				    <img src="{{ .Site.Params.icons.github.url | absURL }}"
               alt="{{ .Site.Params.icons.github.alt }}">
				  </a>
        </div>
  		</div>
  	</div>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
