  	<div class="blurb footer-blurb" id="RGLab_blurb">
  		<div class="blurb-row blurb-toprow">
  			<div class="info">
  				The cytoverse is developed by members of Raphael Gottardo's Lab
  				at Fred Hutchinson Cancer Research Center.
  			</div>
  		</div>
  		<div class="blurb-row blurb-bottomrow">
  			<ul class="blurb-sublist">
  				<li id="fh_logo">
  				  <a href="http://www.rglab.org/">
  				    <img src="{{ .Site.Params.icons.fh.url | absURL }}"
                 alt="{{ .Site.Params.icons.fh.alt }}">
  				  </a>
  				</li>
  				<li id=github_logo>
  				  <a href="https://github.com/RGLab/">
  				    <img src="{{ .Site.Params.icons.github.url | absURL }}"
                 alt="{{ .Site.Params.icons.github.alt }}">
  				  </a>
  				</li>
  			</ul>
  		</div>
  	</div>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
