<div class="blurbstack">
	<div class="blurb" id="main_blurb">
		<div class="blurb-row">
			<p>
				The cytoverse is a tightly coordinated collection of R packages striving to 
				make cytometry data analysis easier and more computationally efficient.
			</p>
		</div>
	</div>
	
	<div class="blurb" id="flowWorkspace_blurb">
		<div class="blurb-row blurb-toprow">
			<div class="logo">
				<img src="img/flowworkspace_logo.png"/>
			</div>
			<div class="info">
				<h1><a href="https://rglab.github.io/flowWorkspace/">flowWorkspace</a></h1>
				<p>
					flowWorkspace provides core data structures and methods for use in cytometry data analysis,
					including compensation, transformation, and gating.
				</p>
				<ul>
					<li><a class="link-btn" href="https://github.com/RGLab/flowWorkspace">GitHub</a></li>
					<li><a class="link-btn" href="https://www.bioconductor.org/packages/release/bioc/html/flowWorkspace.html">Bioconductor</a></li>
				</ul>
			</div>
		</div>
		<div class="blurb-row blurb-bottomrow">
			<div class="demo">
				<img src="img/flowWorkspace/tree1_transparent.svg" alt="" />
			</div>
		</div>
	</div>
	
	<div class="blurb" id="ggcyto_blurb">
		<div class="blurb-row blurb-toprow">
			<div class="logo">
				<img src="img/ggcyto_logo.png"/>
			</div>
			<div class="info">
				<h1><a href="https://rglab.github.io/ggcyto/">ggcyto</a></h1>
				<p>
					ggcyto provides cytometry-specific plotting functionality mirroring ggplot2 semantics.
				</p>
				<ul>
					<li><a class="link-btn" href="https://github.com/RGLab/ggcyto">GitHub</a></li>
					<li><a class="link-btn" href="https://www.bioconductor.org/packages/release/bioc/html/ggcyto.html">Bioconductor</a></li>
				</ul>
			</div>
		</div>
		<div class="blurb-row blurb-bottomrow">
			<div class="demo">
				<img src="img/ggcyto/stats1_transparent_highdpi.png" alt="" />
			</div>
		</div>
	</div>
	
	<div class="blurb" id="CytoML_blurb">
		<div class="blurb-row blurb-toprow">
			<div class="logo">
				<img src="img/cytoml_logo.png"/>
			</div>
			<div class="info">
				<h1><a href="https://rglab.github.io/CytoML/">CytoML</a></h1>
				<p>
					CytoML allows for import and export of gating analyses of cytometry data to or from FlowJo,
					BD FACSDIVA, or Cytobank workspace formats.
				</p>
				<ul>
					<li><a class="link-btn" href="https://github.com/RGLab/CytoML">GitHub</a></li>
					<li><a class="link-btn" href="https://www.bioconductor.org/packages/release/bioc/html/CytoML.html">Bioconductor</a></li>
				</ul>
			</div>
		</div>
		<div class="blurb-row blurb-bottomrow">
			<div class="demo demo-code">
				<code>
					> ws <- open_diva_xml(ws_file)<br/>
					> gs <- diva_to_gatingset(ws)<br/>
					...<br/>
					> gatingset_to_flowjo(gs, flowjo_filename)
				</code>
			</div>
		</div>
	</div>
	
	<div class="blurb" id="openCyto_blurb">
		<div class="blurb-row blurb-toprow">
			<div class="logo">
				<img src="img/opencyto_logo.png"/>
			</div>
			<div class="info">
				<h1><a href="https://rglab.github.io/openCyto/">openCyto</a></h1>
				<p>
					openCyto enables the development of reproducible automated analysis pipelines.
				</p>
				<ul>
					<li><a class="link-btn" href="https://github.com/RGLab/openCyto">GitHub</a></li>
					<li><a class="link-btn" href="https://www.bioconductor.org/packages/release/bioc/html/openCyto.html">Bioconductor</a></li>
				</ul>
			</div>
		</div>
		<div class="blurb-row blurb-bottomrow">
			<div class="demo">
				<img src="img/openCyto/tree.svg" alt="" />
			</div>
		</div>
	</div>
	
	<div class="blurb" id="otherpkgs_blurb">
		<div class="blurb-row blurb-toprow">
			<div class="info">
				A number of packages either directly support or extend the core cytoverse packages.
			</div>
		</div>
		<div class="blurb-row blurb-bottomrow">
			<div class="blurb-sublist">
				<ul>
					<lh>Foundational Dependencies</lh>
					<li><a href="https://github.com/RGLab/RProtoBufLib">RProtoBufLib</a></li>
					<li><a href="https://github.com/RGLab/cytolib">cytolib</a></li>
					<li><a href="https://github.com/RGLab/flowCore">flowCore</a></li>
				</ul>
			</div>
			<div>
				<ul class="blurb-sublist">
					<lh>Statistical Methods</lh>
					<li><a href="https://github.com/RGLab/flowStats">flowStats</a></li>
					<li><a href="https://github.com/RGLab/flowClust">flowClust</a></li>
					<li><a href="https://github.com/RGLab/flowCore">flowCore</a></li>
				</ul>
			</div>
		</div>
</div>

<script type="text/javascript" charset="utf-8">
  var topNav = document.getElementById('topNav-links');
  var navBarToggle = document.getElementById('js-navbar-toggle');
  
  navBarToggle.addEventListener('click', function () {
    
    topNav.classList.toggle('active');
  });
</script>
<!--
<script type="text/javascript" charset="utf-8">
window.onscroll = function() {stickyNav()};

var navbar = document.getElementById("topNav");
var sticky = navbar.offsetTop;

function stickyNav() {
  if (window.pageYOffset > sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
-->
